*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(Encrypt-Hero.jpg);
    position: relative;
}


.main-container{
    max-width: 500px;
    background: #003333;
    border-radius: 8px;
    box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.4);
    font-family: sans-serif;
    padding: 20px;
    margin: 5px;
    box-shadow: 
        10px 10px 20px rgba(0, 0, 0, 0.2),  
        20px 20px 30px rgba(0, 0, 0, 0.3); 
    transition: transform 0.3s ease;
    justify-content: center;
}

.title{
    color: azure;
    font-size: 20px;
    border-radius: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    justify-content: center ;
}

.input-key{
    color: white;
    font-size: 12px;
    margin-top: 15px;
    justify-content: center;
}

.input-ED{
    color: white;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 10px;
    justify-content: center;
}

.input-container1 input {
    width: 420px; 
    height: 40px; 
    padding: 10px; 
    border: 2px solid #ccc; 
    border-radius: 5px; 
    font-size: 16px; 
    justify-content: center;
    align-items: center;
}

.input-container input {
    justify-content: center;
    align-items: center;
    width: 420px; 
    height: 10px; 
    padding: 10px; 
    border: 2px solid #ccc; 
    border-radius: 5px; 
    font-size: 16px; 
    display: flex;
    
}

.output input{
    width: 420px;
    height: 100px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 15px;
}


 button.clear{
    border-radius: 5px;
    width: 80px;
    height: 25px;
    font-size: 15px;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.1s;
}

button.clear:hover {
    background-color: #1ed488;
    color: white;
    border-radius: 3px;
}
